@page "/video"

@inject IJSRuntime js

<div class="aaaaaaaaaa">
    <video id="video" class="video" controls></video>
</div>


@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeAsync<string>("PlayVideo", "58");
    }
}